    <footer id="footer">
      <div class="container">
        <a href="mailto:rasadsadasn@gmail.com">radasddasda@gmail.com</a>
        <!-- Social links -->
        <div class="social">
          <a href="#"
            ><img src="./assets/linkedin-icon.svg" alt="Linkedin"
          /></a>
          <a href="#"><img src="./assets/github-icon.svg" alt="GitHub" /></a>
          <a href="#"
            ><img src="./assets/hashnode-icon.svg" alt="Hashnode"
          /></a>
        </div>
      </div>
    </footer>

@code {

}
