@page "/"

<PageTitle>Home</PageTitle>

    <header id="hero">

       <!-- navbar -->
      <section class="header-container">
        <img
          class="profile-image"
          src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dXNlcnxlbnwwfDJ8MHx8&auto=format&fit=crop&w=400&q=60"
          alt=""
        />
        <h1>Hi I'm Franklin</h1>

        <div class="content-text">
          <h2>Building digital</h2>
          <h2>products, brands, and experience.</h2>

          <p>
            A Frontend Developer and Visual Designer with experience in web
            design, brand identity and product design.
          </p>
        </div>
        <a
          href="https://github.com/CommunityPro/portfolio-html"
          class="btn btn-secondary">
          Connect With Me</a>
      </section>
    </header>

@code {

}
