      <!-- Navbar -->
      <nav class="navbar">
        <div class="container">
          <!-- Logo -->
          <h1 id="logo">
            <a href="https://github.com/CommunityPro/portfolio-html"
              ><img src="./assets/logo.png" alt="Your Logo"
            /></a>
          </h1>
          <!-- Navbar links -->
          <ul class="nav-menu">

            <li>
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>

                <NavLink class="nav-link" href="projects" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Projects
                </NavLink>
                </li>

            <li>
              <a
                class="nav-link btn btn-primary"
                href="https://github.com/CommunityPro/portfolio-html"
                >RESUME <i class="fas fa-arrow-right"></i
              ></a>
            </li>

            <!-- Toggle switch -->
            <div class="theme-switch">
              <input type="checkbox" id="switch" />
              <label class="toggle-icons" for="switch">
                <img class="moon" src="assets/moon.svg" />
                <img class="sun" src="assets/sun.svg" />
              </label>
            </div>
            <!-- Hamburger menu -->
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
      </nav>

@code {

}


